img {
	width: 300px;
	padding: 0 40%;
}

h1 {
	font-family: sans-serif;
	text-align: center;
}

h2 {
	font-family: sans-serif;
	padding-left: 30px;
}

h3 {
	font-family: sans-serif;
	padding-left: 30px;
}

p {
	font-family: sans-serif;
	padding-left: 30px;
}

li {
	font-family: sans-serif;
	margin-left: 40px;
}

nav {
	font-family: sans-serif;
	text-align: center;
	padding: 10px;
}
