body {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.5;
  margin: 0px;
  border: 5px solid #ffff;
  background: white;

}

a {
  font-weight: bold;
  color: #252525;
}

small {
  color: rgb(247, 245, 245);
}

strong {
  color: #ffffff;
  font-style: italic;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 42px;
}

h4 {
  font-weight: normal;
  margin-bottom: 0;
  color: #252525;
}

p {
  font-size: 18px;
}

ul {
  list-style: square;
}

hr {
  border: none;
  border-top: 1px solid #ffff;
  margin: 30px 0;
}

img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #ffff;
  padding: 5px;
  text-align: center
}

nav {
  color: #252525;
  text-align: center;
}

header nav {
  float: right;
  display: inline-block;
  vertical-align: middle;
  padding-top: 1.5em;
  padding-right: 5em;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 18px;
}

/*header nav .line{
  width: 3em;
  height: .3em;
  background: #f9e42e;
  border-radius: 1em;
  margin-top: .25em;
}
header nav .line:first-of-type{
  margin-top:.7em;
}
header nav li:first-child{
  float:right;
  display: none;
  cursor: pointer;
}*/

#hero {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  background-size: cover;
  padding-top: 32px;
}

#hero h2 {
  font-size: 36px;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #252525;
}

header .logo {
  float: left;
  padding-left: 2em;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.teaser {
  padding-top: 12em;
  padding-left: 8em;
  color: white;
  width: 750px;
  text-align: left;
  line-height: 28px;

}

.teaser h2 {
  padding-bottom: 14px;
  color: grey;
}

.teaser p {
  color: #ffffff;
  font-size: 1.5em;
}

#skills {
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #252525;
  color: white;
}

#skills h3 {
  color: grey;
  padding-left: 8em;
  padding-bottom: 1em;
}

.content-box {
  columns: 3 auto;
}

#work {
  margin-top: 10px;
  padding-top: 50px;
  color: white;
  width: 750px;
  text-align: left;
  line-height: 28px;
}

#work h3 {
  color: grey;
  padding-left: 8em;
  padding-bottom: 1em;
}

#mycarousel {
  padding-left: 3em;
}

#footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

#experience {
  height: 700px;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #e5e8e7;
  color: white;
}

#bio {
  padding-top: 12em;
  padding-left: 8em;
  color: white;
  width: 750px;
  text-align: left;
  line-height: 28px;
  display: inline-block;
  float: left;
}

#bio h2 {
  padding-bottom: 14px;
  color: grey;
}

#bio p {
  color: #ffffff;
  font-size: 1.5em;
}

#headshot {
  width: 400px;
  display: inline-block;
  float: right;
  padding-right: 4em;
}

#resume {
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #252525;
  color: white;
}

#resume h3 {
  color: grey;
  padding-left: 8em;
  padding-bottom: 1em;
}

